<%- include('partials/header') %>

<%- include('partials/nav') %>

   <section class="container">
        <ul class="card">
            
                <li class="list__card">
                    <a href="" class="list__card__link">
                        <figure>
                            <img class="list__card__img" src="img/" alt="Images pokemons">
                            <figcaption class="pokemon__name"></figcaption>
                        </figure>
                    </a>
                </li>
          
        </ul>
    </section>
   
   
<%- include('partials/footer') %>